body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.cover, .portrait {
  max-width:110px;
}

.add_author_select {
  width: 550px;
}

.author_select {
  width: 550px;
}
